@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

html{
    height: 100%;
    overflow-x: hidden;
}
.header-container {
        padding-top: 174px;
    }
.bg-secondary{
    background-color: #e3e1e1!important;
}
/*** LOGO ***/
.logo-font{
    font-family: 'Permanent Marker', cursive;
}
.logo{
    height: 6rem;
}
/*** ICONS ***/
/*** from Bulma ***/
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}
.icons{
    font-size: 1.5rem;
}


/*** index.html CAROUSEL ***/
.carousel-item img{
    max-height: 60rem;
}
#carousel{
    padding: 0;
}
/*** BUTTONS ***/
.btn-dark:hover{
    color: #ffc107;
}
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.button-up {
    cursor: pointer;
}