@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

html{
    height: 100%;
    overflow-x: hidden;
}

.logo-font{
    font-family: 'Permanent Marker', cursive;
}
/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.icons{
    font-size: 1.5rem;
}

.logo{
    height: 6rem;
}

.carousel-item img{
    max-height: 60rem;
}

#carousel{
    padding: 0;
}
.nav-tabs{
    
}