<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-lg-none">
            <a class="font-weight-bold nav-link mr-5 text-dark" href="{% url 'home' %}" id="home-link">
                HOME
            </a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-5 text-dark" href="{% url 'products' %}" id="all-products-link">
                All Products
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5 text-dark" href="#" id="bikes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bikes <i class="fas fa-sort-down"></i>
            </a>
            <div class="dropdown-menu border-0 bg-warning" aria-labelledby="bikes-link">
                <a href="{% url 'products' %}?category=city_bikes" class="dropdown-item">City Bikes</a>
                <a href="{% url 'products' %}?category=electric_bikes" class="dropdown-item">Electric Bikes</a>
                <a href="{% url 'products' %}?category=road_bikes" class="dropdown-item">Road Bikes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5 text-dark" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories <i class="fas fa-sort-down"></i>
            </a>
            <div class="dropdown-menu border-0 bg-warning" aria-labelledby="accessories-link">
                <a href="{% url 'products' %}?category=helmets" class="dropdown-item">Helmets</a>
                <a href="{% url 'products' %}?category=lights" class="dropdown-item">Lights</a>
                <a href="{% url 'products' %}?category=locks" class="dropdown-item">Locks</a>
                <a href="{% url 'products' %}?category=sunglasses" class="dropdown-item">Sunglasses</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-dark" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers <i class="fas fa-sort-down"></i>
            </a>
            <div class="dropdown-menu border-0 bg-warning" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
            </div>
        </li>
    </ul>
</div>