<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products <i class="fas fa-sort-down"></i>
            </a>
            <div class="dropdown-menu border-0 bg-warning" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="services-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Our Services <i class="fas fa-sort-down"></i>
            </a>
            <div class="dropdown-menu border-0 bg-warning" aria-labelledby="services-link">
                <a href="" class="dropdown-item">Bike Repairs</a>
                <a href="" class="dropdown-item">Bike Rentals</a>
                <a href="" class="dropdown-item">Bike Maintenance Classes</a>
                <a href="" class="dropdown-item">All Services</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="bikes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bikes <i class="fas fa-sort-down"></i>
            </a>
            <div class="dropdown-menu border-0 bg-warning" aria-labelledby="bikes-link">
                <a href="{% url 'products' %}?category=city_bikes" class="dropdown-item">City Bikes</a>
                <a href="{% url 'products' %}?category=electric_bikes" class="dropdown-item">Electric Bikes</a>
                <a href="{% url 'products' %}?category=road_bikes" class="dropdown-item">Road Bikes</a>
                <a href="{% url 'products' %}?category=city_bikes,electric_bikes,road_bikes" class="dropdown-item">All Bikes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories <i class="fas fa-sort-down"></i>
            </a>
            <div class="dropdown-menu border-0 bg-warning" aria-labelledby="accessories-link">
                <a href="{% url 'products' %}?category=helmets" class="dropdown-item">Helmets</a>
                <a href="{% url 'products' %}?category=lights" class="dropdown-item">Lights</a>
                <a href="{% url 'products' %}?category=locks" class="dropdown-item">Locks</a>
                <a href="{% url 'products' %}?category=sunglasses" class="dropdown-item">Sunglasses</a>
                <a href="{% url 'products' %}?category=helmets,lights,locks,sunglasses" class="dropdown-item">All Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers <i class="fas fa-sort-down"></i>
            </a>
            <div class="dropdown-menu border-0 bg-warning" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>