{% extends "base.html" %} {% load static %} 
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container-fluid bg-secondary">
        <div class="row justify-content-center">
            <h2 class="logo-font">Products</h2>
        </div>
        <div class="row justify-content-sm-center justify-content-md-around justify-content-md-between">
            {% for product in products %}
            <div class="col-sm-6 col-md-4 col-lg-3 text-center">
                <div class="card" style="width: 18rem;">
                    {% if product.image.url %}
                        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    {% else %}
                        <img src="{{ media }}no-image-available.jpg" class="card-img-top" alt="{{ product.name }}">
                    {% endif %}
                    <div class="card-body bg-warning">
                        <h5 class="card-title text-center">{{ product.name }}</h5>
                        {% if product.price %}
                        <div>
                            <i class="fas fa-euro-sign"> {{ product.price }}</i>
                        </div>
                        {% endif %}
                        {% if product.category %}
                        <div>
                            <i class="fas fa-tags"> {{ product.category.friendly_name }}</i>
                        </div>
                        {% endif %}
                        {% if product.rating %}
                        <div>
                            <i class="fas fa-star"> {{ product.rating }}/5</i>
                        </div>
                        {% endif %}
                        <div class="card-buttons">
                        <a href="#" class="btn btn-secondary">Add to Cart</a>
                        <a href="#" class="btn btn-secondary">More Details</a>
                        </div>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}